  <h3>Trending topics</h3>

  <ul id="trend-list">
    <li class="trend-listing" ng-repeat="trend in topTrends track by $index">
      <table>
        <tr>
          <td>
            <div class="trend-rank">{{$index + 1}}</div>
          </td>
          <td>
            <img ng-click="selectArticle(trend)" class="link trend-image" ng-src="{{ trend.img }}" alt="trend image">
          </td>
          <td>
            <div ng-click="selectArticle(trend)" class="link trend-topic">{{trend.topic}}</div>
            <div class="trend-traffic">{{ trend.traffic }} hits</div>
          </td>
          <td>
            <div id="graph{{$index}}" style="height:100px; min-width: 900px"></div>
          </td>
        </tr>
      </table>
    </li>
  </ul>